<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Files')"></head>
<body>
<div th:replace="fragments/header :: page-header"></div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <form method="POST" enctype="multipart/form-data" th:action="@{/files}">
                <div class="form-group">
                    <label class="custom-file" id="customFile">
                        <input type="file" class="custom-file-input" id="file" name="file"/>
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>

    <div class="justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6" th:each="file : ${files}">
            <a href="#" th:text="${file.name}"></a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script>
    $('.custom-file-input').on('change', function () {
        console.log('changed');
        const fullName = $(this).val();
        const names = fullName.split('\\');
        const name = names[names.length - 1];
        $(this).next('.form-control-file').addClass("selected").html(name);
    });
</script>
</html>